#slot-machine {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#reels {
  padding-left: 100px;
}
.reel {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  width: 30%;
  border: 1px solid lightgray;
  height: 140px;
  overflow: hidden;
  position: relative;
  background-color: #6c6c6c;
  border-radius: 20px;
}
.reel:not(:first-child) {
  margin-left: -5px;
}
.reel li {
  text-transform: capitalize;
  height: 140px;
  text-align: center;
  position: absolute;
  width: 80%;
  margin-left: 30px;
  border-left: 3px inset lightgray;
  border-right: 3px inset lightgray;
}
.reel li#coffee-maker {
  background: url('../../images/coffee-maker.jpg') no-repeat 74px 5px #ffffff;
  background-size: 42%;
}
.reel li#coffee-filter {
  background: url('../../images/coffee-filter.jpg') no-repeat 80px 3px #ffffff;
  background-size: 35%;
}
.reel li#coffee-grounds {
  background: url('../../images/coffee-grounds.jpg') no-repeat 70px -1px #ffffff;
  background-size: 42%;
}
.reel li#tea-pot {
  background: url('../../images/tea-pot.jpg') no-repeat 68px 6px #ffffff;
  background-size: 45%;
}
.reel li#tea-strainer {
  background: url('../../images/tea-strainer.jpg') no-repeat 76px 3px #ffffff;
  background-size: 45%;
}
.reel li#loose-tea {
  background: url('../../images/loose-tea.jpg') no-repeat 72px 10px #ffffff;
  background-size: 44%;
}
.reel li#espresso-machine {
  background: url('../../images/espresso-machine.jpg') no-repeat 84px 5px #ffffff;
  background-size: 40%;
}
.reel li#espresso-tamper {
  background: url('../../images/espresso-tamper.jpg') no-repeat 62px 9px #ffffff;
  background-size: 48%;
}
.reel li#espresso-beans {
  background: url('../../images/espresso-beans.jpg') no-repeat 70px 1px #ffffff;
  background-size: 44%;
}
.reel li .text {
  margin-top: 100px;
}
#reel-btn {
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 33px;
  font-size: 1em;
  outline: none;
  position: absolute;
  top: 56px;
  right: 0px;
  text-transform: uppercase;
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
}
#reel-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  cursor: pointer;
}
#reel-btn.mousedown {
  opacity: 0.6;
  border-style: inset;
}
#reel-btn.disabled {
  opacity: 0.4;
  pointer-events: none;
}
#reward-message {
  font-size: 1.5em;
  color: rgba(255, 128, 82, 0.8);
}
#reward-img[data-reward=coffee] {
  background: url('../../images/coffee.jpg') no-repeat 0px 0px transparent;
}
#reward-img[data-reward=tea] {
  background: url('../../images/tea.jpg') no-repeat 0px 0px transparent;
}
#reward-img[data-reward=espresso] {
  background: url('../../images/espresso.jpg') no-repeat 0px 0px transparent;
}
#reward-img[data-reward=coffee],
#reward-img[data-reward=tea],
#reward-img[data-reward=espresso] {
  background-size: contain;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
